fieldset {
    padding: 1.35em 0.75em 2.640em !important;
}


.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}


.margem-butao {
    margin-left: 2.5rem;
}


.flex-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions .mat-button+.mat-button {
    margin-left: 4rem;
}
