
 div.relativo {
	position: relative;
  } 
  
  div.absoluto {
	position: absolute;
	background-color: white;
    left: 40%;
    width: 28rem;
    height: 26rem;
    top: 10rem;
  }


.mat-dialog-container {
    box-shadow: unset !important;
}


.mat-form-field {
	width: 100%;
	padding: 2rem 1rem 1rem 1rem;
}

.row .col {
	padding: 0 0 !important;
}

input[type=text]:not(.browser-default) {
	height: 4rem !important;
	margin: 0 0 0 0 !important;
	width: 95% !important;
}

input[type=password]:not(.browser-default) {
	height: 4rem !important;
	margin: 0 0 0 0 !important;
	width: 95% !important;
}

input[type=date]:not(.browser-default) {
	height: 5rem !important;
	margin: 0 0 0 0 !important;
}

input[type=datetime]:not(.browser-default) {
	height: 5rem !important;
	margin: 0 0 0 0 !important;
}


.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formConvidado {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 60px;
}


.tabelaConvidado {
    width: 65% !important;
    margin: 2% 18% !important;
}


.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

        


.formEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 60px;
}


.formLogin {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}


.menu{
	height: 90px;
	background-color: #3399ff;
}



.brand-logo {
    position: relative !important;
    font-size: 1.8rem !important;
    font-weight: bold;
}




#locais {
	display: block;
	width: 10rem;
	height: 2rem;
}

#posicionamentoHeader {
	border-collapse: unset;
}


.errorAcesso {
	font-size: 20px;
	color: red;
	font-weight: bold;
	padding-left: 35%;
}

